{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <title>{% block title %}{% endblock %}</title>
    {%if dark_theme %}
    <link href="{% static 'bootstrap/css/dark_bootstrap.css' %}" rel="stylesheet" media="all">
    {% else %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="all">
    {% endif %}
    {% block preload_js %}{% endblock %}
  </head>

  <body>
    <div class="container-fluid">
      {% include "navbar.html" %}

      {% block content %}
      {% endblock %}
    </div>

    <div class="col-md-12">
      <div class="text-center">
        <footer class="page-footer font-small">
          <span id="footer_text">
            📈 Budgeteer 💰
          </span>
        </footer>
      </div>
    </div>

  </body>

</html>