{% extends 'base.html' %}
{% load budgets_tags %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Budgeteer{% endblock %}

{% block content %}

<div class="row">
    <div  class="col">
      <h3>General recap</h3>
      <h5>Last two months</h5>
      <div class="table-responsive-md table-sm">
        <table class="table" id="id_recap">
          <tr>
              <td>Starting balance</td>
              <td>{{ currency }} {{ starting_balance | intcomma }}</td>
          </tr>
          <tr>
              <td><b>Current balance</b></td>
              <td><b>{{ currency }} {{ current_balance | intcomma }}</b></td>
          </tr>
          <tr>
              <td>Result</td>
              {% if current_balance and starting_balance%}
                <td class="{% if two_months_diff < 0 %}text-danger{% else %}text-success{% endif %}">
                  {{ currency }}{% if two_months_diff > 0 %}+{% endif %}{{ two_months_diff | intcomma }}
                  ({% if two_months_diff <= 0 %}{% else %}+{% endif %}{{ two_months_diff_perc }}%)
                </td>
              {% else %}
                <td>-</td>
              {% endif %}
              <!-- TODO: check if current_balance is existing or not -> lead to create balance for this month -->
          </tr>
        </table>
      </div>
    </div>
    {% if goals %}
      <div  class="col">
        <h3>Goals</h3>
        <h5>&nbsp;</h5> <!-- HACK: Empty line to line up vertically the two tables -->
        <div class="table-responsive-md table-sm">
          <table class="table" id="id_recap">
            <tr>
              <th>Goal</th>
              <th>Amount</th>
              <th>Months to go</th>
            </tr>
            {% for goal in goals %}
              <tr>
                <td>{{ goal.text }}</td>
                <td>{{ currency}} {{ goal.amount | intcomma }}</td>
                {% if goal.months_to_go is None %}
                  <td class="text-danger">Negative or static balance: N/A</td>
                {% elif goal.months_to_go > 0 %}
                  <td>{{ goal.months_to_go }}</td>
                {% else %}
                  <td class="text-success">Goal already achieved!</td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}
</div>

<div class="row">
    {% if bar_graph %}
    <div  class="col">
      <img src="data:image/png;base64,{{ bar_graph }}" class="img-fluid" alt="Bar graph" {% if not pie_graph %}width="100%"{% endif%}>
    </div>
    {% endif %}
    {% if pie_graph %}
      <div class="col">
        <img src="data:image/png;base64,{{ pie_graph }}" class="img-fluid" alt="Pie graph">
      </div>
    {% endif %}
</div>

<div class="row">
  {% if current_mb %}
    <div  class="col">
      <h6><b>Current</b> month situation</h6>
      <table class="table table-responsive-md table-sm" id="id_monthly_balances">
        <tr>
          <th>Category</th>
          <th>Amount</th>
        </tr>

        {% for monthly_balance in current_mb %}
          <tr>
            <td>{{ monthly_balance.category.text }}</td>
            <td>{{ currency}}
              <!-- TODO: check for foreign currencies. Factor in the exchange rate, display correct currency symbol -->
              {% if monthly_balance.actual_amount %}
                  {{ monthly_balance.actual_amount | intcomma }} ( {{ monthly_balance.amount | intcomma }} )</td>
              {% else %}
                  {{ monthly_balance.amount | intcomma }}</td>
              {% endif %}
          </tr>
        {% endfor %}

          <tr>
            <td><b>Total</b></td>
            <td><b>{{ currency}} {{ current_mb_total | intcomma }}</b></td>
          </tr>
      </table>
    </div>
  {% endif %}

  {% if prev_mb %}
  <div  class="col">
    <h6><b>Previous</b> month situation</h6>
    <table class="table table-responsive-md table-sm" id="id_monthly_balances">
      <tr>
        <th>Category</th>
        <th>Amount</th>
      </tr>

      {% for monthly_balance in prev_mb %}
        <tr>
          <td>{{ monthly_balance.category.text }}</td>
          <td>{{ currency}}
            <!-- TODO: check for foreign currencies. Factor in the exchange rate, display correct currency symbol -->
            {% if monthly_balance.actual_amount %}
                {{ monthly_balance.actual_amount | intcomma }} ( {{ monthly_balance.amount | intcomma }} )</td>
            {% else %}
                {{ monthly_balance.amount | intcomma }}</td>
            {% endif %}
        </tr>
      {% endfor %}

        <tr>
          <td><b>Total</b></td>
          <td><b>{{ currency}} {{ prev_mb_total | intcomma }}</b></td>
        </tr>
    </table>
  </div>
  {% endif %}
  <div  class="col">
    <div id="root"></div>
    {% if webpack == 'y' %}
      <script src="http://localhost:4000/bundle.js"></script>
    {% else %}
      <script src="{% static 'js/bundle.js' %}"></script>
    {% endif %}
  </div>
</div>

{% endblock %}