{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budgeteer</title>
    {%if dark_theme %}
    <link href="{% static 'bootstrap/css/dark_bootstrap.css' %}" rel="stylesheet" media="all">
    {% else %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" media="all">
    {% endif %}
    {% block preload_js %}{% endblock %}
  </head>

  <body>

  <div class="container text-center">

    <header class="jumbotron my-4">
      <h1 class="display-3">Budgeteer</h1>

      <p class="lead">
        Household Budget Management made simple 📈💰
      </p>
      <a href="https://gitlab.com/micheleva/budgeteer" class="btn btn-primary btn-lg">Look at the source</a>

    </header>


<!-- Theme https://github.com/StartBootstrap/startbootstrap-heroic-features -->
<!-- License: MIT -->
    <div class="row text-center">

      <div class="col-lg-4 col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Existing user</h4>
            <p class="card-text">Login using your credentials from here!</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'accounts:login' %}" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>

      {% if signup_enabled %}
      <div class="col-lg-4 col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">New user</h4>
            <p class="card-text">No email needed, no tracking, no ads. <b>Make sure to harden the app if you expose it to the internet 😜</b></p>
          </div>
          <div class="card-footer">
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary">Signup</a>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="col-lg-4 col-md-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">I've found a bug!🐞</h4>
            <p class="card-text">Thank you very much! Please post a minimal reproducer, with the expected behaviour, the actual behaviour and the version you're using (i.e. the git commit hash you've checked out at)</p>
          </div>
          <div class="card-footer">
            <a href="https://gitlab.com/micheleva/budgeteer/-/issues/new" class="btn btn-primary">Open a ticket</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md-12">
    <div class="text-center">
      <footer class="page-footer font-small">
        <span id="footer_text">
          📈 Budgeteer 💰
        </span>
      </footer>
    </div>
  </div>

  </body>


</html>



