{% block navbar %}
<!-- TODO: the navbar is not responsive, fix me -->
<header class="navbar navbar-expand  flex-column flex-md-row bd-navbar">

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'budgets:home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'budgets:spa' %}">Home (spa)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'budgets:categories' %}">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'budgets:monthly_budgets' %}">Monthly Budgets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'budgets:expenses' %}">Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'budgets:income_categories' %}">Income Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'budgets:incomes' %}">Incomes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'budgets:monthly_balance_categories' %}">Monthly balance category </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'budgets:monthly_balances' %}">Monthly balances</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'budgets:goals' %}">Goals</a>
      </li>
      {% if not request.user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">(Not {{ request.user }}?) Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>

</header>
{% endblock %}