{% extends 'no_nav_bar_base.html' %}
{% load budgets_tags %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Budgeteer{% endblock %}

{% block content %}

<div class="row">
  <div  class="col">
    <div id="root"></div>
    {% if webpack == 'y' %}
      <script src="http://localhost:4000/bundle.js"></script>
    {% else %}
      <script src="{% static 'js/bundle.js' %}"></script>
    {% endif %}
  </div>
</div>

{% endblock %}