#!/bin/bash

APP_PATH="{{remote_app_dir}}"
DOT_ENV_PATH="{{remote_app_dir}}/app/.env"
EXEC_DIR="{{remote_app_dir}}/"
BACKUP_DIR="{{remote_s3_dump_dir}}/"
FILE_NAME=${BACKUP_DIR}`date +%F-%T`.sql
S3_BUCKET_NAME="{{s3_bucket_name}}"
{% raw %}
mkdir -p $BACKUP_DIR

cd $APP_PATH
/usr/local/bin/docker-compose exec web sh ./backup.sh
docker cp $(/usr/local/bin/docker-compose ps | grep web | cut -f1 -d" "):/home/app/web/data_only.sql ${FILE_NAME}

if [[ $? == 1 ]]
then
   echo "Copying the file failed. Is the container up? Is the backup folder a git repo (or better, does that folder exist)?"
   exit 1
fi

# TODO: confirm if BACKUP_DIR contains a git repo, otherwise pull from remote
# Do not create the folder, we need this to be a git repo
# # mkdir -p $BACKUP_DIR
cd $BACKUP_DIR

RECENT_FILES=($(find ${BACKUP_DIR} -type f -printf "%T@ - %p\n" | sort -nr | cut -d' ' -f 3 | grep -v 'tar.gz$' | awk 'NR==1,NR==2 {print $1}' | xargs sha256sum ))

# Diff the most two recent files: if we have a diff, tar.gz it, and upload it to s3 bucket
# NOTE: Because we do not cut `sha256sum` output, the result array will be composed of:
# Index:content => 0:hash-of-file-1 1:filename-1 2:hash-of-file-2 3:filename-2 

if [[ ${RECENT_FILES[0]} != ${RECENT_FILES[2]} ]]
then
 tar -czvf --transform s/.././ ${RECENT_FILES[1]}.tar.gz ${RECENT_FILES[1]}
 aws s3 cp ${RECENT_FILES[1]}.tar.gz s3://${S3_BUCKET_NAME}/$(echo ${RECENT_FILES[1]} | sed 's/dbdump\///' | sed 's/.\///' | sed 's/\/homec2-user\///').tar.gz
 echo $? amazon upload return code
else
 echo "No difference from the last dump. Skipping the tar.gz and the s3 upload opreations!"
fi

# Clean up files older than 12h
find $BACKUP_DIR -name '*sql*' -type f -mmin +720 -delete
{% endraw %}