#!/bin/bash

APP_PATH="{{remote_app_dir}}"
DOT_ENV_PATH="{{remote_app_dir}}/app/.env"
BACKUP_DIR="{{remote_git_dump_dir}}/"
BACKUP_FILE_NAME="budgeteer.sql"
FILE_PATH="${BACKUP_DIR}${BACKUP_FILE_NAME}"
{% raw %}
CONTAINER_NAME=$(docker ps --format "{{.Names}}" | grep web | grep budgeteer)

cd $APP_PATH
/usr/local/bin/docker-compose exec web sh ./backup.sh

if [[ $? == 1 ]]
then
   echo "Copying the file failed. Is the container up? Is the backup folder a git repo (or better, does that folder exist)?"
   exit 1
fi

docker cp $(/usr/local/bin/docker-compose ps | grep web | cut -f1 -d" "):/home/app/web/data_only.sql ${FILE_PATH}
# TODO: confirm if BACKUP_DIR contains a git repo, otherwise pull from remote
# Do not create the folder, we need this to be a git repo
# # mkdir -p $BACKUP_DIR
cd $BACKUP_DIR


git log > /dev/null
if [[ $? > 0 ]]
then
  echo 'First commit!'

  git config --global user.name "Ansible Script"
  git config --global user.email ansible-script@example.com

  git add ${BACKUP_FILE_NAME}
  git commit -m "First commit"
  git push -u origin main

fi

diff=$(git diff | wc -l)
if [[ $diff > 0 ]]
then
  echo 'we have a diff!'

  git config --global user.name "Ansible Script"
  git config --global user.email ansible-script@example.com

  git add ${BACKUP_FILE_NAME}
  git commit -m "Add budgteteer dump for `date +%F-%T`"
  git push origin main
fi

# IMPLEMENT ME: USE CRON JOBS (I.E. SYSTEMD UNITS) INSTEAD OF CRONTAB
{% endraw %}