{% extends 'no_nav_bar_base.html' %}
{% block content %}
  <h1> You are now logged out {{ user }} </h1>
  <a href="{% url 'budgets:landing_page' %}">Back</a>
  <a href="https://gitlab.com/micheleva/budgeteer/-/merge_requests/new" >Open a PR to give me some styling</a>
{% endblock %}
