{% extends 'no_nav_bar_base.html' %}
{% block content %}
{% load budgets_tags %}

    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <div class="text-center"><h2>Login Page</h2></div>
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="{{ field.field.widget.input_type }}"
                           name="{{ field.name }}"
                           id="id_{{ field.name }}" placeholder="{{ field.label }}"
                           value="{% if field.name == 'username' %}{{ field.value|default:'' }}{% endif %}">
                           <ul class="user-msg error text-danger">
                            {% for error in field.errors %}
                                <li>
                                  {% if field != '__all__' %}
                                    <strong>{{ field.label }}:</strong>
                                  {% endif %}
                                  {{ error }}
                                </li>
                            {% endfor %}
                            </ul>
                          {% if field.field.help_text %}
                              {{ field.field.help_text|help_text_to_div|safe }}
                          {% endif %}
                    </div>
                {% endfor %}
                {% if form.non_field_errors %}
                  <div class="user-msg error text-danger form-group">
                    {% for error in form.non_field_errors %}
                      <div>{{ error }}</div>
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-lg btn-block">
                </div>
            </form>
            <a href="{% url 'budgets:landing_page' %}" class="btn btn-secondary btn-lg btn-block">Back</a>
        </div>
    </div>
{% endblock %}