{% extends 'base.html' %}
{% load humanize %}
{% block title %}Expenses{% endblock %}


{% block content %}
  <!-- TODO: This page layout is completely different from the rest of the site. Fix it -->
  <div class="row">
    <div class="col">
      <h3>Expenses</h3>
      <a href="{% url 'budgets:expenses_create' %}">Create expense</a>
      <!-- TODO: refactor this spaghetti ball and move it to its own file -->
      {% if show_delete %}
        {% if 'page' in request.GET %}
          <a href="{{ request.path }}?page={{ page_obj.number }}">Hide delete buttons</a>
        {% else %}
          <a href="{{ request.path }}?page={{ page_obj.number }}">Hide delete buttons</a>
        {% endif %}
      {% else %}
        {% if 'page' in request.GET %}
          <a href="{{ request.get_full_path}}&delete=1">Show delete buttons</a>
        {% else %}
          <a href="{{ request.get_full_path}}?delete=1">Show delete buttons</a>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div>
        <div class="table-responsive-md table-sm">
          <table class="table table-hover table-sm" id="id_expenses">
          <tr>
            <th>Spended date</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
            {% if show_delete %}
              <th>Delete</th>
            {% endif %}
          </tr>
          {% if expenses_sum %}
            <tr>
              <td> - </td>
              <td><b>{{ expenses_sum | intcomma }}</b></td>
              <td><b>Total</b></td>
              <td> - </td>
              {% if show_delete %}
                <td> - </td>
              {% endif %}

            </tr>
          {% endif %}
          {% for expense in object_list %}
            <tr>
              <td>{{ expense.date }}</td>
              <td>{{ expense.amount | intcomma }}</td>
              <td>{{ expense.category.text }}</td>
              <td>{{ expense.note }}</td>
              {% if show_delete %}
                <td>
                  <form method="POST" action="{% url 'budgets:expenses_delete' pk=expense.id %}">
                    {% csrf_token %}
                    <input type="submit" id="id_submit" value="Yes, DELETE">
                  </form>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
          </table>

          {% include "paginator.html" %}

        </div>
      </div>
    </div>

    {% if exp_aggregates %}
      <div class="row">
        <div class="col">
          <table class="table table-hover table-sm" id="id_expenses">
            <tr>
              <th>Name</th>
              <th>Budgeted</th>
              <th>Actual</th>
            </tr>
            {% for key, value in exp_aggregates.items %}
                <tr class="{% if value.budgeted < value.total %}text-danger{% else %}text-success{% endif %}">
                  <td> {{key}} </td>
                  {% if value.budgeted > 0 %}
                      <td> {{value.budgeted | intcomma }} </td>
                  {% else %}
                      <td> <a href="{% url 'budgets:monthly_budgets_create' date=value.date category=value.category %}">Create Budget</a> </td>
                  {% endif %}
                  <td> <b>{{value.total | intcomma }}</b> </td>
                </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}

    {% if pie_graph %}
      <div class="col">
        <img src="data:image/png;base64,{{ pie_graph }}" class="img-fluid" alt="Pie graph">
      </div>
    {% endif %}

  </div>
{% endblock %}
