{% extends 'base.html' %}
{% load humanize %}
{% block title %}Income Categories{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Income Categories</h3>
      <a href="{% url 'budgets:income_categories_create' %}">Create Income Category</a>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="table-responsive-md table-sm">
          <table class="table table-hover" id="id_categories">
            <tr>
              <th>Category ID</th>
              <th>Category name</th>
            </tr>
            {% for category in object_list %}
                <!-- CREATE DetailView and its route! -->
                <!-- <td><a href="{% url "budgets:monthly_balance_categories_details" category.pk %}">{{ category.id }}</a></td> -->
                <td>{{ category.id }}</td>
                <td>{{ category.text }}</td>
              </tr>
            {% endfor %}
          </table>

          {% include "paginator.html" %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
