{% extends 'base.html' %}
{% load humanize %}
{% block title %}Monthly budgets{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Monhtly Budgets</h3>
      <a href="{% url 'budgets:monthly_budgets_create' %}">Create Monhtly Budget</a>
      <a href="{% url 'budgets:monthly_budgets_multiple_create' %}">Create Multiple Monhtly Budget</a>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="table-responsive-md table-sm">
          <table class="table table-hover" id="id_monthly_budgets">
            <tr>
              <th>Monthly budget ID</th>
              <th>Category name</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
            {% for category in object_list %}
                <!-- TODO: Change this url, and its view to be an EditView  -->
                <td><a href="{% url "budgets:monthly_budgets_detail" category.pk %}">{{ category.id }}</a></td>
                <td>{{ category.category.text }}</td>
                <td>{{ category.amount | intcomma }}</td>
                <td>{{ category.date }}</td>
              </tr>
            {% endfor %}
          </table>

          {% include "paginator.html" %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
